*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  font-family: montserrat;  
  overflow-x: hidden;
}

.fingent{
  background: black;
  font-weight: 500;
  color: #fff;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.home_btn{
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 20px 0px 20px 0px;
}

.home_form{
  padding: 10px 10px 10px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}